<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-flex">
  <a class="navbar-brand flex-grow-1" href="#">Full screen calendar</a>

  <div class="bd-highlight d-flex" id="navbarSupportedContent">
    <form class="form-inline">
      <div class="form-row">
        <div class="col flex-grow-1">
          <input type="text" class="form-control" [(ngModel)]="form.startDate" placeholder="yyyy/mm/dd" name="startDate">
        </div>
        <div class="col">
          <input type="number" min="0" class="form-control" placeholder="days" [(ngModel)]="form.number" name="number">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Country code" [(ngModel)]="form.countryCode" name="countryCode">
        </div>
        <div class="col">
          <button type="button" (click)="generateCalendar();" class="btn btn-info">Generate</button>
        </div>
      </div>
    </form>
  </div>
</nav>
<div class="alert alert-info" role="alert">
  <a target="_blank" href="https://github.com/kodie/moment-holiday#available-localesregions">Availables country codes</a>
</div>
<div class="alert alert-danger" role="alert" [hidden]="!error">
  {{errorMessage}}
</div>

<div class="container-fluid p-5">
  <app-calendar [selectedDate]="form.startDate" [number]="form.number" [countryCode]="form.countryCode">

  </app-calendar>
</div>